<%- include ('partials/header'); %>
<body>
    <%- include ('partials/navbar'); %>

    <div class="container">
        <nav>
            <h3>Questions</h3>
            <small><a href="/question">Ask Something</a></small>
        </nav>
        <hr>
        <div>
            <% questions.forEach(question => { %>
                <article>
                    <details>
                        <summary><%= question.title %></summary>
                        <body>
                            <p><%= question.description %></p>
                        </body>
                        <footer class="grid">
                            <div></div>
                            <a href="/question/<%= question.id %>" role="button">Answer</a>
                            <div></div>
                        </footer>
                    </details>
                    <div>
                        <small><%= question.createdAt %></small>
                    </div>
                </article>
            <% })%>
        </div>
    </div>

</body>
<%- include ('partials/footer'); %>